.budget-overlay__indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8bebe66;
    z-index: -1;
    animation: show 0.2s linear;
}

.budget-card {
    padding: 0.3em 0;
}

.budget-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.budget-price {
    font-weight: bold;
    font-size: 0.98rem;
}

.budget-price span:nth-child(2) {
    font-size: 0.79rem;
    color: #707070;
}

.budget-alt__btn {
    display: flex;
    justify-content: flex-end;
}

.budget-alt__btn button {
    border: 3px solid #313157;
}

.budget-alt__btn button:first-child {
    background-color: #313157;
    color: #fff;
}

.budget-alt__btn button:first-child:hover {
    background-color: #1a1a2c;
    border-color: #1a1a2c;
}

.budget-alt__btn button:nth-child(2) {
    margin-left: 0.5em;
}

.budget-alt__btn button:nth-child(2):hover {
    background-color: #fcf4ea;
}

.progress-bar__container {
    margin: 1.1em 0;
}

.budget-overlay__gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
